#recipe {
    margin: auto;
    width: 70%;
    border: 3px solid black;
    padding: 10px;
}
img { 
    size-adjust: auto;
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 2%;
}
p { 
    color:rgb(36, 33, 36);
    font-family: JetBrains Mono;
    font-size: smaller;
}
h1 { 
    color:rgb(36, 33, 36);
    font-family: JetBrains Mono;
}
h3 { 
    color:rgb(36, 33, 36);
    font-family: JetBrains Mono;
}
h4 { 
    color:rgb(36, 33, 36);
    font-family: JetBrains Mono;
}
ul { 
    color:rgb(36, 33, 36);
    font-family: JetBrains Mono SemiBold;
    font-size: small;
}
body { 
    background-color: aliceblue; 
}